body { 
      background: #c78e5f;
 }

.principal{
 background: #d8a67d;
 padding: 30px;
}
  p { 
    text-align: center;
   font-size: 20 px;
  } 

    h1 { 
     text-align: center;
    }

em strong { 
  color: #FFB6C1
}
#missao {
font-size: 30px
}

.itens {
 font-style: italic;
}


.beneficios { 
 background: #5b4230;
 padding: 20px;
}

h2 {
 text-aling: center;
}

ul {
 display: inline-block;
 vertical-aling: top; 
 width: 20%;
 margin-right: 15%;
}

.imagembeneficios {
 width: 50%;
}
  
#banner { 
 width: 40% ;
}

 
  font-size: 30px
}
#banner { 
width: 50%;
}

.titulo-principal { 
 padding- left: 20px;
}

.titulo-centralizado { 
 text-aling : center 
}

header { 
  background: #c78e5f;
  padding: 20px 0;
}

nav { 
  position:absolute ;
  top: 110px;
    right: 0; 
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a { 
text-transform: uppercase; }
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
} 

. informações li{
  display: inline-block;
  text-align:center; 
  width:30%;
  vertical-align: toṕ; 
  background:#CCCCCC;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
}

. informacoes {
  width: 940px; 
  margin: 0 auto;
  padding:50px 0;
}

. informacoes h2 { 
font-size: 40px;
  font-weight: bold;
}

. informacoes { 
font-size: 40px; 
font-weight: bold; 
margin: 10px 0 0 0;
}

. informacoes detahalhas{
  font-size: 40px;
}

. informacoes li:hover {
	border-color: #C78C19;
}

. informacoes li:active {
	border-color: #088C19;	
}

. informacoes li:hover h2 {
	font-size: 34px;
}

. informacoes h2 {
	font-size: 30px;
	font-weight: bold;
}

. informacoes-descricao {
	font-size: 18px;
}

. informacoes-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
